.container {
  position: relative;
  width: 400px;
  height: 600px;
  margin: 0 auto;
}

.swiper {
  height: 600px;
  border: 1px solid rgb(77, 77, 80);
  border-radius: 10px;
}

.prev {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%) rotate(-180deg);
  width: 25px;
  height: 25px;
  z-index: 99999;
  opacity: 0.5;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: 0.4s;
  }
}
.next {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  z-index: 99999;
  opacity: 0.5;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: 0.4s;
  }
}
