.nav {
  background-color: #000000a1;
  position: fixed;
  width: 100%;
  padding: 20px 80px;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid rgb(26, 26, 26);

  a {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.5s;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 10px;
      height: 10px;
    }
    p {
      font-size: 12px;
      margin: 5px 0 0 10px;
    }
    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
  }
}
